<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">Database Configuration</h3>
          </div>
          <div class = "card-body">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#myTabContent" role="tab" aria-selected="true">Database-Connection</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" data-toggle="tab"  href="#myTabContent2" role="tab" aria-selected="false">Database-Connection via SSH</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab"  href="#myTabContent1" role="tab" aria-selected="false">File-Based-Connection</a>
              </li>
           </ul>
           <div class="tab-content"  id="myTabContentssss">
              <div id="myTabContent" class="tab-pane fade show active" role="tabpanel" aria-labelledby="myTabContent">
                <br>
                  <form>
                      <div class="form-group row">
                        <label for="dbType" class="col-sm-2 col-form-label">Database Type</label>
                        <div class="col-sm-6">
                            <select id="monitoringChannel" class="btn btn-secondary">
                                <option>Derby</option>
                                <option>MariaDB</option>
                                <option>MySQL</option>
                        </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Hostname</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="inputPassword" >
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="dbType" class="col-sm-2 col-form-label">Username</label>
                          <div class="col-sm-6">
                            <input type="text"  class="form-control" id="staticEmail" >
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                          <div class="col-sm-6">
                            <input type="password" class="form-control" id="inputPassword" >
                          </div>
                        </div>
                        <div class="form-group row">
                            <label for="dbType" class="col-sm-2 col-form-label">DB Name</label>
                            <div class="col-sm-6">
                              <input type="text"  class="form-control" id="staticEmail" >
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Port No</label>
                            <div class="col-sm-6">
                              <input type="password" class="form-control" id="inputPassword" >
                            </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-sm-1">
                                  <button id="connectBtn" class="btn btn-icon btn-3 btn-success"  type="button">
                                      Connect
                                    </button>
                              </div>
                            </div>
                    </form>
              </div>
           
              <div class="tab-pane fade" id="myTabContent1" role="tabpanel" aria-labelledby="myTabContent1">
                <br>
                <form>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Select CSV file from disk</label>
                        <div class="col-sm-6">
                          <input type="file" class="form-control" id="inputPassword" >
                        </div>
                        <div class="col-sm-1">
                            <button id="browseBtn" class="btn btn-icon btn-3 btn-primary"  type="button">
                                Upload
                              </button>
                        </div>
                      </div>
                </form>
            </div>
  
            <div id="myTabContent2" class="tab-pane fade" role="tabpanel" aria-labelledby="myTabContent2">
                <br>
                  <form>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">SSH Hostname</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="inputPassword" >
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="dbType" class="col-sm-2 col-form-label">SSH Username</label>
                          <div class="col-sm-6">
                            <input type="text"  class="form-control" id="staticEmail" >
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputPassword" class="col-sm-2 col-form-label">SSH Password</label>
                          <div class="col-sm-6">
                            <input type="password" class="form-control" id="inputPassword" >
                          </div>
                        </div>
                          <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">SSH Port No</label>
                            <div class="col-sm-6">
                              <input type="password" class="form-control" id="inputPassword" >
                            </div>
                          </div>
  
                          <div class="form-group row">
                              <div class="col-sm-1">
                                  <button id="connectBtn" class="btn btn-icon btn-3 btn-success"  type="button">
                                      Connect
                                    </button>
                              </div>
                            </div>
                    </form>
              </div>
  
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  