<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">Clear Database</h3>
          </div>
          <div class = "card-body">
              <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Database View</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">End Date</th>
                      <th scope="col">Rows Count</th>
                      <th scope="col">Action</th>
                     </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Shift Log</td>
                      <td>18/03/2019 07:37:24</td>
                      <td>29/04/2019 16:53:24</td>
                      <td>8758</td>
                      <td><button class="btn btn-3 btn-danger"  type="button">
                          Delete
                        </button></td>
                    </tr>
                    <tr>
                        <td>Tool Change Log</td>
                        <td>18/03/2019 09:37:24</td>
                        <td>29/04/2019 11:53:24</td>
                        <td>14</td>
                        <td><button class="btn btn-3 btn-danger"  type="button">
                            Delete
                          </button></td>
                      </tr>
                  </tbody>
                </table>
              </div> 
           
          </div>
        </div>
      </div>
    </div>
  
  