<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">Licence Details</h3>
          </div>
          <div class = "card-body">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#myTabContent" role="tab" aria-selected="true">Activate Licence</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" data-toggle="tab"  href="#myTabContent2" role="tab" aria-selected="false">Licence Information</a>
                </li>
           </ul>
           <div class="tab-content"  id="myTabContentssss">
              <div id="myTabContent" class="tab-pane fade show active" role="tabpanel" aria-labelledby="myTabContent">
                <br>
                  <form>
                      
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Cockpit ID</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="inputPassword" >
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="dbType" class="col-sm-2 col-form-label">Licence No</label>
                          <div class="col-sm-6">
                            <input type="text"  class="form-control" id="staticEmail" >
                          </div>
                        </div>
                       
                          <div class="form-group row">
                              <div class="col-sm-1">
                                  <button id="connectBtn" class="btn btn-icon btn-3 btn-success"  type="button">
                                      Activate Licence
                                    </button>
                              </div>
                            </div>
                    </form>
              </div>
           
              
  
            <div id="myTabContent2" class="tab-pane fade" role="tabpanel" aria-labelledby="myTabContent2">
                <br>
                  <form>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Cockpit ID</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="inputPassword" value="759">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="dbType" class="col-sm-2 col-form-label">Licence No</label>
                          <div class="col-sm-6">
                            <input type="text"  class="form-control" id="staticEmail" value="28-A3AF-1602F700-6324">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputPassword" class="col-sm-2 col-form-label">Date of expiration</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="inputPassword" value="04/03/2020">
                          </div>
                        </div>
                          <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Count of Machines</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="inputPassword" value="2">
                            </div>
                          </div>

                    </form>
              </div>
  
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  